.grid-container {
  display: grid;
  grid-template-columns: repeat(3, [col-start] 33% [col-end]);
  grid-gap: 1em;
}

img {
  width: 80%;
  height: auto;
}

.entry {
  position: relative;
  overflow: hidden;
}

.image {
  line-height: 0;
}

.image-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(90, 0, 10, 0.4);
  z-index: 1;
  text-align: center;

  /* typographic styles */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;

  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;

  /* hide the title by default */
  opacity: 0;
  transition: opacity 0.5s;
}

.entry:hover .image-title {
  opacity: 1;
}

.image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.entry:hover .image img {
  filter: blur(2px);
}
